main {
    min-height: 80vh;
}

.rating span {
    margin: 0.1rem;
}

.rating svg {
    color: #f8e825;
}

.rating-text {
    font-style: 0.8rem;
    font-weight: 800;
    padding-left: 0.5rem;
}

.product-title{
    height: 2.5rem;
    overflow: hidden;
    text-overflow:ellipsis ;
    white-space: nowrap;
}

table th,
table td{
    text-align: center;
}

.review {
    margin-top: 30px;
}

.review h2 {
    font-size: 24px ;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f4f4f4 ;
}

.review button {
    margin-top: 10px;
}

.carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}